#  ----------------------------
# | .gitignore for CPP-MODULES |
#  ----------------------------

# VSCode config folder
/.vscode/

# Extra files or Intra downloads
**/Downloads

# MacOS folders meta data
**/.DS_STORE
