#  ----------------------------
# | .gitignore for CPP-MODULES |
#  ----------------------------

# IDEs config folders and files
/.vscode/
/.idea/
/.vs/

# Extra files or Intra downloads
**/Downloads

# MacOS folders meta data
**/.DS_STORE
